@font-face {
  font-family: Marker;
  src: url("assets/markerfelt_wide.ttf");
}

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #b388ff;
  font-family: Marker;
}

.wrapper {
  text-align: center;
  padding: 5rem 0 1rem;
}

.title {
  font-family: Marker;
  color: #D78D00;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.names {
  display: flex;
  width: 35%;
  margin: 0 auto 4rem;
  justify-content: space-between;
}

.names p {
  margin: 0 0 1rem;
}

.names input {
  outline: 2px solid #D78D00;
  height: 2rem;
  background-color: #b388ff;
  font-size: 1rem;
  font-family: Marker;
  padding: 0 0 0 1rem;
}

.start-button {
  width: 15%;
  height: 2rem;
  background-color: #D78D00;
  font-family: Marker;
  font-size: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.start-button:hover {
  background-color: black;
  color: #D78D00;
}

.game {
  position: relative;
  margin: 0 auto;
  width: 310px;
  height: 310px;
}

table {
  margin: 0 auto;
}

td {
  width: 100px;
  height: 100px;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}

.top-left {
  border-right: 3px solid #D78D00;
  border-bottom: 3px solid #D78D00;
}

.top-midle {
  border-right: 3px solid #D78D00;
  border-bottom: 3px solid #D78D00;
}

.top-right {
  border-bottom: 3px solid #D78D00;
}

.midle-left {
  border-right: 3px solid #D78D00;
  border-bottom: 3px solid #D78D00;
}

.midle-midle {
  border-right: 3px solid #D78D00;
  border-bottom: 3px solid #D78D00;
}

.midle-right {
  border-bottom: 3px solid #D78D00;
}

.bottom-left {
  border-right: 3px solid #D78D00;
}

.bottom-midle {
  border-right: 3px solid #D78D00;
}

.default {
  width: 250px;
  height: 1px;
  background-color: black;
  position: absolute;
  display: none;
}

@keyframes horizontal-trait {
  from {
    width: 0;
  }

  to {
    width: 250px;
  }
}

.default.top-horizontal {
  display: block;
  top: 3rem;
  left: 10%;
  height: 3px;
  animation: horizontal-trait 1s ease-in-out;
}

.default.midle-horizontal {
  display: block;
  top: 9.5rem;
  width: 250px;
  left: 10%;
  height: 3px;
  animation: horizontal-trait 1s ease-in-out;
}

.default.bottom-horizontal {
  display: block;
  top: 16rem;
  width: 250px;
  left: 10%;
  height: 3px;
  background-color: black;
  animation: horizontal-trait 1s ease-in-out;
}

@keyframes vertical-trait {
  from {
    height: 0;
  }

  to {
    height: 250px;
  }
}

.default.left-vertical {
  display: block;
  width: 3px;
  height: 250px;
  left: 16%;
  top: 1.5rem;
  animation: vertical-trait 1s ease-in-out;
}

.default.midle-vertical {
  display: block;
  width: 3px;
  height: 250px;
  left: 49%;
  top: 1.5rem;
  animation: vertical-trait 1s ease-in-out;
}

.default.right-vertical {
  display: block;
  width: 3px;
  height: 250px;
  left: 83%;
  top: 1.5rem;
  animation: vertical-trait 1s ease-in-out;
}

@keyframes diagonal-trait {
  to {
    width: 400px
  }
}

.default.main-diagonal {
  display: block;
  height: 3px;
  width: 0;
  margin-top: -5px;
  background:black;
  transform: rotate(45deg);
  transform-origin:left;
  animation: diagonal-trait 1s linear forwards;
}

.default.side-diagonal {
  display: block;
  height: 3px;
  width: 0;
  margin-top: 303px;
  background:black;
  transform: rotate(-45deg);
  transform-origin:left;
  animation: diagonal-trait 1s linear forwards;
}